body {
  font-family: verdana, sans-serif;
  background: #efefef;
  text-align: center;
}
body,
a:link,
a:visited {
  color: #333;
}
h1 {
  font-size: 2em;
}
#date {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.25em;
  }
}
